In [3]:
# Dictionary Practice
dict1 = {}
dict1 = {'Ung':100, 'Sue':30, 'Hoon':60}
dict1['Jane'] = 99
print(dict1)

{'Ung': 100, 'Sue': 30, 'Hoon': 60, 'Jane': 99}

In [6]:
print(dict1.items())

dict_items([('Ung', 100), ('Sue', 30), ('Hoon', 60), ('Jane', 99)])

In [7]:
print(dict1.keys())

dict_keys(['Ung', 'Sue', 'Hoon', 'Jane'])

In [8]:
print(dict1.values())

dict_values([100, 30, 60, 99])

In [9]:
life_scores = dict1
print(life_scores['Jane'])

99

In [13]:
life_scores['total'] = int(life_scores['Jane'] + life_scores['Ung'] + life_scores['Hoon'] + life_scores['Sue'])
life_scores

{'Hoon': 60, 'Jane': 99, 'Sue': 30, 'Ung': 100, 'total': 289}

In [14]:
# 일반적인 경우 Dictionary을 표현할 때는 행을 나눠서 입력하는 경우가 많다. 헷갈리지 않기 위해.
## 이런 경우 git에서 한 줄이 바뀔때마다 그 줄이 바뀌었다고 인식하기 때문에 처음에 Dictionary를 선언할 때 마지막에 ','을 붙여주는 것이 좋다.
dict2 = {
    'korean': 100,
    'math': 97,
    'science': 89,
    'history': 70, ##이런식으로 마지막에 ','를 넣어줘야 함.
}
dict2

{'history': 70, 'korean': 100, 'math': 97, 'science': 89}

In [15]:
del dict2['history']
dict2

{'korean': 100, 'math': 97, 'science': 89}

In [16]:
dict2.keys()
##key를 수정하려면 지우고 변경하는 방법밖에 없음.

dict_keys(['korean', 'math', 'science'])

In [17]:
dict2.values()

dict_values([100, 97, 89])

In [18]:
dict2.items()
##튜플로 뽑아지게 되는데 key와 value로 한 쌍이 정해져 있기 때문에 튜플로 나오게 되는 것.

dict_items([('korean', 100), ('math', 97), ('science', 89)])

In [1]:
# SET Practice
ppap = {'pen', 'pineapple','apple','pen'}
ppap

{'apple', 'pen', 'pineapple'}

In [2]:
'apple' in ppap

True

In [3]:
'applepen' in ppap

False

In [4]:
pineapple = set('pinapple')
pineapple
## tuple과는 다르게 set은 중복되는걸 지워줌!!

{'a', 'e', 'i', 'l', 'n', 'p'}

In [7]:
A = set('fastcampus')
B = set('python')
print(A&B) # ampersand
print(A|B) # pipeline
print(A-B)
print(A^B) # hypen

{'t', 'p'}
{'m', 'a', 'f', 'c', 'u', 'n', 'o', 'p', 'h', 't', 's', 'y'}
{'m', 'a', 'f', 'c', 'u', 's'}
{'m', 'a', 'f', 'c', 'u', 's', 'y', 'n', 'o', 'h'}

In [8]:
# list comprehension practice 1
old_list = [1,2,3,4,5,6,7,8,9]
double_list = [i*2 for i in old_list]
print(double_list)

double_list2 = []
for i in old_list:
    double_list2.append(i*2)
print(double_list2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
# list comprehension practice 2
double_only_even = [i*2 for i in old_list if i%2 == 0]
double_only_even

[4, 8, 12, 16]

In [11]:
double_list3=[]
for i in old_list:
    if i%2 == 0:
        double_list3.append(i*2)
double_list3

[4, 8, 12, 16]